ion-toolbar{
    color: black;
    --background: transparent;
    background-color: rgba(221, 188, 43, 0.914);
}

ion-icon{
    color: black;
}

.card-borde{
    border: 1.5px solid black;
    border-radius: 4px;
}