<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Título del header (puede estar vacío si no es necesario) -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen de fondo -->
  <ion-img src="assets/img/aula1.avif"></ion-img>

  <!-- Formulario de inicio de sesión -->
  <div class="login">
    <ion-title class="titulo">RegistrAPP</ion-title>

    <!-- Campo de entrada para el usuario -->
    <ion-item style="border-radius: 10px; overflow: hidden;">
      <ion-input
        label="Ingrese su usuario"
        label-placement="floating"
        fill="inline"
        placeholder="Usuario"
        [(ngModel)]="username"
      ></ion-input>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- Campo de entrada para la contraseña -->
    <ion-item style="border-radius: 10px; overflow: hidden;">
      <ion-input
        label="Ingrese su contraseña"
        label-placement="floating"
        fill="inline"
        placeholder="Contraseña"
        type="password"
        [(ngModel)]="password"
      ></ion-input>
      <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- Botón de ingreso -->
    <ion-button fill="intline" (click)="validateLogin()">Ingresar</ion-button>

      
    <div class="links">
      <!-- Link para registrarse
      <ion-text>
        <ion-icon name="person-add-outline"></ion-icon>
        ¿No tienes cuenta? <a class="registrar" routerLink="/register">Regístrate</a>
      </ion-text>
    -->
      <br />
      <!-- Link para recuperar contraseña -->
      <ion-text>
        <ion-icon name="help-circle-outline"></ion-icon>
        <a class="recuperar" routerLink="/reset-pass">Recuperar contraseña</a>
      </ion-text>
    </div>
  </div>

  <!-- Loading Spinner -->
  <ion-loading
    *ngIf="isLoading"
    message="Cargando..."
    spinner="crescent"
    [duration]="2000"
  >
  </ion-loading>
</ion-content>
