<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="header">
      <h1 class="titulo">
        <strong> 
          RECUPERACIÓN 
        </strong> 
      </h1>
      <b></b>
      <p class="subtitulo">Para restablecer la contraseña:</p>
    </div>

    <div class="input-container">
      <!----verificar el usuario pa ver si esta-->
      <ion-item class="input">
        <ion-input [(ngModel)]="email" placeholder="Ingresa tu usuario"></ion-input>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>

      <!---Codigoverificacion-->
      <ion-item *ngIf="mostrarCodigo" class="input">
        <ion-input [(ngModel)]="codigo" placeholder="Ingresa el código de verificación"></ion-input>
        <ion-icon name="key-outline" slot="end"></ion-icon>
      </ion-item>

      <!----cambio contraseñaaa-->
      <ng-container *ngIf="mostrarcontrasena">
        <ion-item class="input">
          <ion-input [(ngModel)]="password" type="password" placeholder="Nueva contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="input">
          <ion-input [(ngModel)]="confirmarcontrasena" type="password" placeholder="Confirmar contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
      </ng-container>

      <!-------boton-->
      <div class="boton">
        <ion-button (click)="mostrarcontrasena ? confirmarRestablecimiento() : mostrarCodigo ? verificarCodigo() : verificacion()">
          {{ mostrarcontrasena ? 'Restablecer contraseña' : 'Continuar' }}
        </ion-button>
      </div>
    </div>       
  </div>
  <div class="volver-login">
    <a routerLink="/login" style="color: black;">Volver al login</a>
  </div>
</ion-content>
