<ion-content [fullscreen]="true" class="ion-padding"> 
  <div class="container">
    <div class="header">
      <h1 class="titulo">
        <strong> 
          RECUPERACIÓN 
        </strong> 
      </h1>
      <b></b>
      <p class="subtitulo">Para restablecer la contraseña:</p>
    </div>

    <div class="input-container">
      <!-- Verificar usuario -->
      <ion-item class="input" *ngIf="!mostrarCodigo && !mostrarcontrasena">
        <ion-input [(ngModel)]="email" placeholder="Ingresa tu usuario"></ion-input>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>

      <!-- Codigo de verificación -->
      <ion-item class="input" *ngIf="mostrarCodigo">
        <ion-input [(ngModel)]="codigo" placeholder="Ingresa el código de verificación"></ion-input>
        <ion-icon name="key-outline" slot="end"></ion-icon>
      </ion-item>

      <!-- Cambiar contraseña -->
      <ng-container *ngIf="mostrarcontrasena">
        <ion-item class="input">
          <ion-input [(ngModel)]="password" type="password" placeholder="Nueva contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="input">
          <ion-input [(ngModel)]="confirmarcontrasena" type="password" placeholder="Confirmar contraseña"></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
      </ng-container>

      <br>

      <!-- Boton -->
      <div class="boton">
        <ion-button 
          (click)="mostrarcontrasena ? confirmarRestablecimiento() : mostrarCodigo ? verificarCodigo() : verificacion()" 
          color="danger">
          <ion-icon name="log-in-outline" slot="end"></ion-icon>
          {{ mostrarcontrasena ? 'Restablecer contraseña' : 'Continuar' }}
        </ion-button>
      </div>
    </div>       
  </div>

  <!-- Enlace para volver al login -->
  <div class="volver-login">
    <a routerLink="/login" style="color: black;">Volver al login</a>
  </div>
</ion-content>
