ion-button {
    margin-top: 20px;
  }

ion-toolbar{
  color: black;
  --background: transparent;
  background-color: rgba(221, 43, 75, 0.914);
}

.asisRegist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3px;
  background-color: #cfcfcf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.asisRegist.hidden {
  opacity: 0;
}

ion-content{
  --background: transparent;
  background-color: rgba(59, 141, 57, 0.914);
}

.feriados{
  margin-top: 30px;
  --background: transparent;
  background-color: rgba(221, 43, 75, 0.914);
  border: 0.5px solid black;
}

.cerrarsesion ion-item{
  --background: transparent;
  background-color: rgba(59, 141, 57, 0.914);
  height: 100%;
  margin: 0;
}

ion-menu ion-list {
  --background: rgba(59, 141, 57, 0.914);
  margin: 0;
  padding: 0;
}

ion-icon{
  color: black;
}